---
import Layout from "@/layouts/Layout.astro"
import { api } from "@/lib/api"

const { id } = Astro.params

if (!id) {
	throw new Error("No property ID provided")
}
const property = await api.getProperty(id)
---

<Layout
	title={`VendeTuCasa | ${property!.title}`}
	description="Compra las mejores propiedades de la ciudad al mejor precio de mercado, contactanos por WhatsApp de Lunes a Viernes de 8hs a 17hs"
>
	<p>
		This is an individual property. Property name: {property?.title}
	</p>
</Layout>
