---
import "photoswipe/style.css"
import Layout from "@/layouts/Layout.astro"
import { api } from "@/lib/api"
import type { Photo } from "@/lib/types"
import Grid from "@/components/icons/Grid.astro"

const { id } = Astro.params
if (!id) {
	throw new Error("No property ID provided")
}
const property = await api.getProperty(id)
const propertyPhotos = (property as { photos: Photo[] }).photos as Photo[]

while (propertyPhotos.length < 5) {
	const lastElement = propertyPhotos[propertyPhotos.length - 2]
	propertyPhotos.push(lastElement)
}
---

<Layout
	title={`VendeTuCasa | ${property!.title}`}
	description="Compra las mejores propiedades de la ciudad al mejor precio de mercado, contactanos por WhatsApp de Lunes a Viernes de 8hs a 17hs"
>
	<section class="mx-auto max-w-5xl px-4">
		<h1 class="my-4 text-3xl font-medium leading-tight">
			{property?.title}
		</h1>
		<div class="relative max-h-full overflow-x-hidden rounded-xl">
			<div
				class="grid grid-cols-[repeat(4,minmax(0,1fr))] grid-rows-2 gap-2 overflow-hidden"
				id="gallery"
			>
				{
					propertyPhotos.map((propertyImg, index) => {
						return (
							<a
								href={`${propertyImg.fields.file.url}`}
								data-pswp-width="2500"
								data-pswp-height="2500"
								class:list={
									index === 0
										? "w- overflow-w-clip col-span-2 row-span-2 grid-flow-row-dense"
										: index > 4
											? "hidden "
											: ""
								}
								target="_blank"
							>
								<img src={`${propertyImg.fields.file.url}`} alt="" class="h-full" />
							</a>
						)
					})
				}
			</div>
			<div
				class="absolute bottom-4 right-4 flex items-center gap-1.5 rounded-[0.5rem] border border-black bg-white px-4 py-2 text-sm font-medium"
			>
				<Grid class="size-[1.2rem]" />Ver más fotos
			</div>
		</div>
		<div class="mt-10 flex rounded-[10px] border p-4 shadow-lg">
			<h2 class="text-2xl font-normal">${property?.price}</h2>
		</div>
	</section>
</Layout>

<script>
	import PhotoSwipeLightbox from "photoswipe/lightbox"

	const lightbox = new PhotoSwipeLightbox({
		gallery: "#gallery",
		children: "a",
		pswpModule: () => import("photoswipe"),
	})

	lightbox.init()
</script>
