---
import "@/styles/globals.css"
import Layout from "@/layouts/Layout.astro"
import PropertyList from "@/components/PropertyList.astro"
import Header from "@/components/Header.astro"
---

<Layout
	title="Inmobiliaria"
	description="Compra las mejores propiedades de la ciudad al mejor precio de mercado, contactanos por WhatsApp de Lunes a Viernes de 8hs a 17hs"
>
	<Header />

	<main>
		<PropertyList />
	</main>
</Layout>
