---
import "@/styles/globals.css"
import Layout from "@/layouts/Layout.astro"
import PropertyList from "@/components/PropertyList.astro"
import Hero from "@/components/Hero.astro"
---

<Layout
	title="VendeTuCasa"
	description="Compra las mejores propiedades de la ciudad al mejor precio de mercado, contactanos por WhatsApp de Lunes a Viernes de 8hs a 17hs"
>
	<Hero />
	<main>
		<PropertyList />
	</main>
</Layout>
