---
import Logo from "./icons/Logo.astro"
import Alquileres from "./icons/Alquileres.astro"
import Ventas from "./icons/Ventas.astro"
---

<header class="mx-auto flex max-w-7xl flex-row justify-between p-4">
	<!-- <img alt="" src="../images/logo.png" class="w-16" /> -->
	<Logo class="size-14" />
	<ul class="m-auto flex flex-row gap-4">
		<li
			class="flex flex-col items-center justify-center text-xs font-medium text-black/60 hover:text-black"
		>
			<Alquileres class="mb-2 text-black/60 hover:text-black" />
			Alquileres
		</li>
		<li
			class="flex flex-col items-center justify-center text-xs font-medium text-black/60 hover:text-black"
		>
			<Ventas class="mb-2 text-black/60 hover:text-black" />
			Ventas
		</li>
		<!-- <li class="hover:bg-slate-200"><World /></li> -->
	</ul>
</header>
<section
	class="relative isolate m-auto flex h-96 items-center justify-center bg-[url('/images/local-comercial.jpeg')] bg-cover bg-center"
>
	<div class="absolute -z-10 h-full w-full bg-gradient-to-b from-black/80 to-transparent"></div>
	<h1 class="customshadow text-balance text-center text-4xl font-bold uppercase text-white">
		Comprá o alquilá con nosotros
	</h1>
</section>

<style>
	.customshadow {
		text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}
</style>
