---

---

<header class="flex flex-row justify-between p-1">
  <img alt="" src="../images/logo.png" class="w-16" />
  <ul class="flex flex-row gap-4 m-auto">
    <li>Alquileres</li>
    <li>Ventas</li>
  </ul>
</header>
<section
  class="relative isolate flex items-center justify-center h-96 bg-center bg-[url('/images/local-comercial.jpeg')] bg-cover m-auto"
>
  <div
    class="w-full h-full absolute -z-10 bg-gradient-to-b from-black/80 to-transparent"
  >
  </div>
  <h1
    class="uppercase font-bold text-4xl text-center text-balance text-white customshadow"
  >
    Comprá o alquilá con nosotros
  </h1>
</section>
<style>
  .customshadow {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
</style>
