---

---

<header class="flex flex-row justify-between p-4">
  <img alt="" src="../images/logo.png" class="" />
  <ul class="flex flex-row gap-4 m-auto">
    <li>Alquileres</li>
    <li>Ventas</li>
  </ul>
</header>
<section class="relative h-96 bg-red-500 m-auto">
  <h1 class="absolute flex mx-auto">Comprá o alquilá con nosotros</h1>
</section>
