---
import Logo from "./icons/Logo.astro"
import Alquileres from "./icons/Alquileres.astro"
import Ventas from "./icons/Ventas.astro"
---

<section
	class="relative isolate m-auto flex h-96 items-center justify-center bg-[url('/images/local-comercial.jpeg')] bg-cover bg-center"
>
	<div class="absolute -z-10 h-full w-full bg-gradient-to-b from-black/80 to-transparent"></div>
	<h1 class="customshadow text-balance text-center text-4xl font-bold uppercase text-white">
		Comprá o alquilá con nosotros
	</h1>
</section>

<style>
	.customshadow {
		text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	}
</style>
