---
import CarouselDemo from "./carousel-demo"

import Ruler from "./icons/Ruler.astro"
import Bed from "./icons/Bed.astro"
import Bath from "./icons/Bath.astro"

const { photos, title, precio, id } = Astro.props
---

<div class="">
	<CarouselDemo photos={photos} client:load />
	<a href=`/properties/${id}`>
		<h2 class="mt-2 line-clamp-1 truncate">
			{title}
		</h2>
		<h3 class="text-black/50">Victoria Aguirre 450</h3>
		<div class="flex flex-row gap-2 text-black/50">
			<span class="flex items-center gap-1"><Bed />2</span>
			<span class="flex items-center gap-1"><Bath />1</span>
			<span class="flex items-center gap-1"><Ruler />45 m²</span>
		</div>
		<span class="line-clamp-1 font-medium leading-loose text-black/80"
			>{
				precio.toLocaleString("en-US", { style: "currency", currency: "USD" }).replace(".00", "")
			}</span
		>
	</a>
</div>
