---
import CarouselDemo from "./carousel-demo";

import Ruler from "./icons/Ruler.astro";
import Bed from "./icons/Bed.astro";
import Bath from "./icons/Bath.astro";

const { photos, title, precio } = Astro.props;
---

<div class="p-3">
  <CarouselDemo photos={photos} client:load />
  <h2 class="line-clamp-1 mt-2 truncate">
    {title}
  </h2>
  <h3 class="text-black/50">Victoria Aguirre 450</h3>
  <div class="flex flex-row text-black/50 gap-2">
    <span class="flex items-center gap-1"><Bed />2</span>
    <span class="flex items-center gap-1"><Bath />1</span>
    <span class="flex items-center gap-1"><Ruler />45 m²</span>
  </div>
  <span class="font-medium leading-loose text-black/80 line-clamp-1"
    >{
      precio
        .toLocaleString("en-US", { style: "currency", currency: "USD" })
        .replace(".00", "")
    }</span
  >
</div>
